@import "../../plugins/font-awesome/scss/font-awesome";
@font-face {
		font-family: "miso";
		src: url("../fonts/miso/miso.eot");
		src: url("../fonts/miso/miso.eot?#iefix")format("embedded-opentype"),
		url("../fonts/miso/miso.woff") format("woff"),
		url("../fonts/miso/miso.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
